{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site_title}}</title>
    <link rel="stylesheet" href="{% static "global/css/style.css" %}">
</head>
<body>
    {% include "global/partial/_header.html" %}
    <main class="content">
        {% block content %}{% endblock content %}
        {% include "global/partial/paginator.html" %}
    </main>
    <footer>
        <p>Contato</p>
        <p>Sobre</p>
    </footer>
</body>
</html>