<header class="site-header">
    <div class="logo">
        <a href="{% url 'home:index' %}">Virtual Store</a>
    </div>

    <button class="menu-toggle" id="menu-toggle">
        ☰
    </button>

    <nav class="main-nav">
        <ul>
            <li><a href="{% url 'home:products' %}">Produtos</a></li>
            <li><a href="{% url 'home:cart' %}">Carrinho</a></li>
            <li><a href="{% url 'home:favorite' %}">Favoritos</a></li>
            <li><a href="{% url 'home:contato' %}">Contato</a></li>
            <li><a href="{% url 'home:sobre' %}">Sobre</a></li>
        </ul>
        
    </nav>

    <div class="inline-mobile">
    <div class="category-select">
                <form method="get" action="{% url 'home:index' %}">
                    <select name="category" onchange="this.form.submit()">
                        <option value="">Categorias</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}"
                                {% if selected_category == cat.id|stringformat:"s" %}selected{% endif %}>
                                {{ cat.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
    </div>

    <div class="search-box">
        <form action="{% url 'home:search' %}" method="get">
            <input class="search-input" type="search" name="q" value="{{ search_value }}" placeholder="Pesquisar...">
        </form>
    </div>
    </div>
</header>
<script>
  const toggle = document.getElementById("menu-toggle");
  const menu = document.querySelector(".main-nav");

  toggle.addEventListener("click", (e) => {
    e.stopPropagation();
    menu.classList.toggle("active");
  });

  document.addEventListener("click", (e) => {
    const isClickInsideMenu = menu.contains(e.target);
    const isClickOnButton = toggle.contains(e.target);

    if (!isClickInsideMenu && !isClickOnButton) {
        menu.classList.remove("active");
    }
  });
</script>

